.o-spreadsheet .o-section {
    &, * {
        box-sizing: border-box;
    }
}

.o-listing-details-side-panel {
    .o_sp_en_display_name {
        margin-bottom: 3px;
    }
}

.o-section .o_draggable_item {
    box-sizing: border-box;
    cursor: grab;
    margin-bottom: 0.6rem;
}
