.o_spreadsheet_action .o_navbar {
    a.o-sp-favorite {
        margin: 0px 5px;
        cursor: pointer;
        @include o-hover-text-color($gray-400, $o-main-favorite-color);

        &.fa-star-o {
            @include o-hover-text-color($o-main-color-muted, $o-main-favorite-color);
        }

        &.fa-star {
            color: $o-main-favorite-color;
        }
    }
}
