div[name="worksheet_map"] {
    .row:nth-child(odd) {
        background-color: #f8f9fa !important;
        border-top: $border-width solid #dee2e6 !important;
        border-bottom: $border-width solid #dee2e6 !important;
    }
}
