@media print {
    body > :not(.o_knowledge_public_view) {
        display: none;
    }
    .o_scroll_view,
    .o_scroll_view_lg {
        position: static;
        overflow: visible !important;
    }
}
